h1 {
  text-align: center;
  color: white;
}

body {
  background-color: black;
}

p {
  display: flex;
  text-align: center;
  color: white;
}

div {
  display: flex;
  justify-content: center;
}

html {
  font-family: "Inter", sans-serif;
}

